:root {
  --primary-color: #292929; /* Dark gray */
  --secondary-color: #ffcc66; /* Gold */
  --background-color: #181818; /* Dark background */
  --text-color: rgb(0, 0, 0); /* White text */
}

body {
  background: var(--background-color) center/cover no-repeat; 
  font-family: Trebuchet MS, sans-serif; /* Use a fallback font family */
  margin: 0;
  color: var(--text-color);
}

.section {
  opacity: 0; /* Initially hide sections */
  transform: translateY(50px); /* Move sections down */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.section.visible {
  opacity: 1; /* Make sections visible */
  transform: translateY(0); /* Move sections back to their original position */
}

main {
  position: relative;
  z-index: 2;
}

.section {
  padding: 20px;
}

.parallax-content {
  padding: 20px;
  background-image: url('images/burp.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  color: #000000;
  padding: 20px;
  text-align: right;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

nav ul li a:hover {
  background-color: var(--secondary-color); /* Change background color on hover */
  color: var(--primary-color); /* Change text color on hover */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add smooth transition */
}

.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  height: 2px;
}

.progress-bar {
  height: 2px;
  background-color: gold;
}

#languages ul {
  list-style-type: none;
  padding: 0;
}

#languages ul li {
  display: inline-block;
  margin-right: 20px;
}

#languages img {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
  display: block;
  margin: 0 auto;
}

#languages img:hover {
  transform: scale(1.1);
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  border-radius: 15px 50px;
}

.project {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex: 1 1 300px;
}

.project:hover {
  transform: scale(1.05); /* Scale up on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
}

.cta-button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ff9900;
}
